# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# Tests / Coverage
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.ruff_cache/

# Scrapy
.scrapy/
logs/

# Local configuration
.env

# Data / Temporary
/tmp/
*.json
*.csv
*.png
*.webp
node_modules/
.DS_Store

# Git
.git
.gitignore
.gitattributes
